/*# my new css*/
body {
	background-color: #FAF9F8;
}

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

@import
	url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

@font-face {
	font-family: BS;
	src: url('../fonts/berkshire-swash-v7-latin-regular.ttf')
		format('truetype'),
		url('../fonts/berkshire-swash-v7-latin-regular.woff') format('woff'),
		url('../fonts/berkshire-swash-v7-latin-regular.woff2') format('woff2'),
		url('../fonts/berkshire-swash-v7-latin-regular.svg') format('svg'),
		url('../fonts/berkshire-swash-v7-latin-regular.eot')
		format('embedded-opentype');
}

@font-face {
	font-family: E;
	src: url('../fonts/Ewert-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Color;
	src: url('../fonts/WestonFree-Regular.ttf') format('truetype');
}

/* roboto-900 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/roboto-v19-latin-900.eot'); /* IE9 Compat Modes */
	src: url('../fonts/roboto-v19-latin-900.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v19-latin-900.woff2') format('woff2'),
		/* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-900.woff') format('woff'),
		/* Modern Browsers */
       url('../fonts/roboto-v19-latin-900.ttf') format('truetype'),
		/* Safari, Android, iOS */
       url('../fonts/roboto-v19-latin-900.svg#Roboto') format('svg');
	/* Legacy iOS */
}

.head {
	font-family: Color;
	font-weight: 700;
}

.fri {
	background-color: #DAF7A6;
}


.table {
	font-family: Roboto;
	border: 8px solid black;
	border-collapse: separate;
	border-spacing: 1.5px;
	cellpadding: 0;
	cellspacing: 0;
	font-size: 15px;
}

table.table tr th:first-child {
	text-align: center;
}

table.table tr td:last-child {
	text-align: center;
}

.button {
	border: 0;
}

.theadbg {
	font-family: BS;
	background-color: #FF4F00;
	text-align: center;
}

.panel-align {
	text-align: center;
}

.panel-heading {
	padding: 10px 15px;
	font-family: 'Courgette', cursive;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.card-body {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 24px;
	background-color:;
	font-family: BS;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: 0.3px;
	text-align: center;
}

}
.divLeft {
	width: 100%;
	display: block;
	float: left;
}

.divRight {
	width: 100%;
	display: block;
	float: right;
}

.bgimg{
	background-image: url("../img/Background.jpg");
	background-position:left;
	background-repeat:  no-repeat;
}
/* ------------------------------                  Table CSS                     -----------------------------------------  */
.cal-title {
	text-align: center;
}

.ramadan-title {
	text-align: center;
}

.ramadan-title h2 {
	color: green;
}

.r-cal tr td {
	text-align: center;
}

.r-cal tr th {
	text-align: center;
}

.r-cal {
	color: #000;
}

.footer-title h6 {
	color: #ddd;
}

.footer-title h6 a {
	text-decoration: none;
	color: #ddd;
}

.r-cal tr th {
	font-size: 14px;
}

.r-cal tr td {
	font-size: 14px;
}